* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* *********REUSEABLE CLASSES******** */
.section {
    width: 100%;
    padding: 2vw 7vw;
    min-height: 100vh;
}

.heading_title{
    font-size: 2.5vw;
    font-weight: 600;
    text-transform: capitalize;
    color: #5A4522;
}

.small_section{
    padding: 1vw 7vw;
    background-color: #F6BE00;
    width: 100%;
    height: 40vh;
    margin: 10vh 0;
}

.btn{
    font-size: 1vw;
    font-weight: 500;
    text-transform: uppercase;
    color: #5A4522;
    background-color: #FADC76;
    border: none;
    padding: 1vw 2vw;
    cursor: pointer;
    margin-top: 1.5vw;
}


/* *********NAVBAR******** */
.close{
    position: absolute;
    z-index: 51;
    top: 12%;
    right: 8%;
    cursor: pointer;
}
.extented_nav{
    background-color: #F6BE00;
    width: 100%;
    height: 60vh;
    position: absolute;
    z-index: 50;
    top: -100%;
    padding: 1vw 7vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.extented_nav_part1{
    display: flex;
    flex-direction: column;
    /* background-color: orange; */
    /* align-items: flex-start; */

}
.extented_nav_part1 .e_logo{
    width: 7rem;
    margin-bottom: 1vw;
}

.extented_nav_part1 video{
    width: 25vw;
    height: 16vw;
    object-fit: cover;  
    background-color: aquamarine;
}

.extented_nav_part1 .video_details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25vw;
    font-size: 0.8vw;
    margin-top: 1vw;
    /* background-color: gray; */
}



.extented_nav_part2{
    /* background-color: red; */
    width: 50%;
    height: 100%;
    padding: 0 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.e_menu{
    /* background-color: aquamarine; */
    /* border: 1px black solid; */
    width: fit-content;
    padding: 0 0.5vw;
    position: relative;
    height: 3.2vw;
    /* margin-bottom:0.6vw ; */
    overflow: hidden;
    text-transform: capitalize;
}
.e_menu h1{
    transition: all ease-out 0.3s;
    font-size: 3vw;
    font-family: "default-font";
    font-weight: 100;
    color: #5A4522;
    /* background-color: bisque; */
}
.e_menu:hover h1{
    transform: translateY(-100%);

}

/* *********HERO SECTION******** */
.hero_section {
    background-color: rgb(214, 176, 79);
    max-height: 100vh;

}

.navbar {
    background-color: transparent;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
}

.nav_logo>img {
    height: fit-content;
    width: 9.3vw;
}

.nav_menu>img {
    height: 2.4vw;
    width: 2.4vw;
}

.container {
    height: 85vh;
    display: flex;
    justify-content: space-between;
    /* background-color: green; */
}

.hero_heading {
    /* background-color: orange; */
    width: 40%;
}

.hero_heading h1 {

    font-size: 5.7rem;
    line-height: 5.7rem;
    margin-top: 2.5vw;
    color: rgb(46, 34, 2);
}

.hero_heading p {
    font-size: 1.8rem;
    width: 80%;
    margin-top: 1vw;
    color: rgb(46, 34, 2);
}

.right_container .bee_img {
    position: absolute;
    top: -5%;
    left: -10%;
}

.bee_img>img {
    height: 19vw;
    width: 19vw;
}

.right_container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right_container .hero_img>img {
    /* position: absolute; */
    width: 42rem;
    height: 40rem;
    margin-top: -5%;
}

/* *********PRODUCT SECTION******** */
.product_section{
    padding-top: 0 !important;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* background-color: red; */

}
.product_section .title_container{
    /* background-color: orange; */
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product_section .product_container{
    /* background-color: teal; */
    width: 100%;
    height: 50vh;
    margin-top: 2vw;
   
}

.swiper {
    width: 100%;
    height: 100%;
    /* background-color: red; */
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-button-next,
  .swiper-button-prev
  {
    color: #F6BE00 !important;
  }

  .product_card{
    background-color: rgb(254, 254, 254);
    width: 100%;
    position: relative;
    height: 100%;
    overflow: hidden;
  }

  .product_img_container{
    height: 80%;
    width: 100%;
    background-color: #FADC76;
    position: absolute;
  }
  .product_img_containe > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
 
  }
  .product_add_cart_icon{
    width: 2.5vw;
    height: 2.5vw;
    background-color: #F6BE00;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    color: #5A4522;
    z-index: 5;
    border-radius: 50%;
    cursor: pointer;
    top: 4%;
    right: 4%;
  }

  .product_title_container{
    height: 50%;
    width: 100%;
    bottom: -32%;
    position: absolute;
    background-color: #5A4522;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 1vw 1.2vw;
  }
  .product_title{
    font-size: 1.2vw;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    width: 100%;
    text-align: center;
    line-height: 2.5vw;
  }
  .product_desc{
    font-size: 0.8vw;
    width: 100%;
    text-align: center;
    line-height: 1vw;
    color: #ffffff;
  }
  .product_price{
    padding: 0.5vw 1.2vw;
    width: 100%;
    color: white;
    font-size: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .product_title_container:hover{
     bottom: 0; 
  }


/* *********PRODUCT TRACK SECTION******** */
.product_track{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    
}
.product_track_title{
    color: #5A4522;
    font-size: 3.5vw;
    width: 70%;
    text-align: center;
    line-height: 3.8vw;
}
.product_track_overlay{
    position: absolute;
    width: 8rem;
    left: 58%;
    top: 40%;
}

/* *********PRODUCT TRACK SMALL SECTION******** */
.product_popup_section{
    visibility: hidden; 
    position: absolute;
    border-radius: 50px;
    z-index: 10;
    width: 50rem;
    height: 35rem;
    background-color: #5A4522;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}
.product_popup_section_content{
    width: 100%;
    height: 20%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
}
.product_popup_section_desc{
    width: 40%;
    background-color: white;
    padding: 0.5vw;
    border-radius: 10px;
}
.product_popup_section_close{
    width: 3rem;
    height: 3rem;
    /* background-color: red; */
}
.product_popup_section_close>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product_popup_section_map{
    width: 100%;
    height: 80%;
    padding: 2vw;
}
.product_popup_section_map > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}



/* *********ABOUT HONEY SECTION******** */
.about_honey_section {
    width: 100%;
    display: flex;
    margin-top: 10vw;
    padding: 0;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
  }
  
  .about_honey_section_left {
    width: 50%;
    position: sticky;
    padding: 2vw 7vw;
    top: 0;
    left: 0;
    background-color: #FADC76;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
  .about_honey_title{
    font-size: 4rem;
  }
  .about_honey_year_title{
    font-size: 8rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #5A4522;
    width: 100%;
    text-align: center;
    line-height: 2.5vw;
  }
  .about_honey_img_container{
    height: 40vh;
    width: 30vw;
    background-color: #5A4522;
  }
  
  
  
  .about_honey_section_right {
    width: 50%;
    background-color: white;
    padding: 2vw 7vw;
  }
  
  .about_honey_section_right_blank{
    width: 100%;
    height: 50vh;
    /* background-color: rgb(158, 72, 72); */
    padding: 2vw 7vw;
  }
  .about_honey_section_right_content{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
  }
  .about_honey_historyBox{
    width: 80%;
    height: 25vh;
    border: 1px solid #F6BE00;
    /* background-color: #F6BE00; */
    border-radius: 50px;
    display: flex;
    overflow: hidden;
    margin: 2vw 0;
  }

  .about_honey_historyBox_img{
    width: 40%;
    height: 100%;
    padding: 1vw;
  }
  .about_honey_historyBox_img>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
  }
  .about_honey_historyBox_desc{
    width: 60%;
    height: 100%;
    padding: 1vw;
    display: flex;
    align-items: center;
    color: #5A4522;
    font-weight: 500;
  }


/* *********HONEY NEUTRATION SECTION******** */
.honey_neutration_section{
    background-color: rgb(255, 255, 255);
    position: relative;
    margin-top: 10vw;
}

.honey_neutration_section_bgtext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    
}
.honey_neutration_bgtext{
    font-size: 10rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.31);
    text-align: center;
}
.honey_neutration_img{
    /* background-color: red; */
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -50%);
}

.honey_neutration_img>img{
    transform: scale(1.2);
}

.honey_neutration_overlay_1{
    position: absolute;
    top: 30%;
    left: 20%;
    transform: rotate(70deg);
}
.honey_neutration_overlay_2{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: rotate(100deg) scaleX(-1);
}
.honey_neutration_overlay_3{
    position: absolute;
    top: 30%;
    right: 22%;
}
.honey_neutration_overlay_4{
    position: absolute;
    top: 50%;
    right: 30%;
    transform: scaleY(-1);
}

.honey_neutration_overlay_text{
    font-size: 2rem;
    color: #5A4522;
    text-transform: capitalize;
    position: absolute;
}

.honey_neutration_overlay_text_1{
    top: 30%;
    left: 20%;
    transform: rotate(10deg);
}

.honey_neutration_overlay_text_2{
    top: 78%;
    left: 15%;
    transform: rotate(-10deg);
    
}
.honey_neutration_overlay_text_3{
    top: 25%;
    right: 18%;
    transform: rotate(-10deg);
}
.honey_neutration_overlay_text_4{
    top: 65%;
    right: 25%;
    transform: rotate(10deg);

}



/* *********BEE SECTION******** */


.bee_section {
            width: 100%;
            height: 100vh;
            position: relative;
      }

      .bee_section_img_cover>img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            clip-path: circle(10% at 55% 42%);
      }

      .bee_section_img_cover {
            width: 100%;
            height: 100vh;
            background-color: #fff;
            position: absolute;
      } 

      .bee_section_title{
            width: 200px;
            height: 5vh;
            position: absolute;
            top: 5%;
            left: 5%;
            font-size: 1.5vw;
            display: flex;
            padding: 0 1vw;
            align-items: center;
            font-weight: 600;
            justify-content: flex-start;
            color: #000000;
            transition: all 0.2s;
      }

      .bee_section_desc{
            width: 40vw;
            height: 30vh;
            font-size: 1.4vw;
            font-weight: 500;
            color: #000000;
            position: absolute;
            top: 30%;
            left: 5%;
            transition: all 0.2s;
      }